<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
</head>
<style>
    body{
         background-color: azure;
    }
</style>
<body>
    <script>window.alert('Kooduthal vivaranangal')</script>
    <h1 style="color: brown;">About Us</h1>
    <img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=pexels-pixabay-258154.jpg&fm=jpg" width="1200" height="600">
    <p>Welcome to <span style="color: red;">Abrusci's !</span> We are dedicated to providing you with an exceptional dining experience.</p>
    <p>Our restaurant is committed to serving delicious, freshly prepared meals made from the finest ingredients sourced locally whenever possible.</p>
    <p>Whether you're joining us for breakfast, lunch, or dinner, our friendly staff is here to ensure your visit is nothing short of perfect.</p>
    <p>At <span style="color: red;">Abrusci's</span>, we believe in creating a warm and inviting atmosphere where you can relax and enjoy memorable moments with family and friends.</p>
    <p>Thank you for choosing us. We look forward to serving you soon!</p>
    <a href="home.html">Home</a>
</body>
</html>