<html>
<head>
    <title>Project</title>
</head>
<style>
    body{
        background-image: url("https://images.unsplash.com/photo-1561501900-3701fa6a0864?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bHV4dXJ5JTIwaG90ZWx8ZW58MHx8MHx8fDA%3D");
        background-size: cover;
    }
</style>
<body>
    <script>window.alert('Aeda jango ni arinjo!!')</script>
    <h1 align="center" style="color: blanchedalmond;">Abrusci's Mansion</h1><hr>
    <a href="home.html">Home</a>
    <a href="about.html">About Us</a>
    <a href="rooms.html">Rooms</a>
    <a href="menu.html">Menu</a>
    <a href="gallery.html">Gallery</a>
    <a href="contact.html">Contact Us</a>
</body>
</htm