<!DOCTYPE html>
<html lang="en">
<head>
    <title>Our Rooms</title>
</head>
<body>
    <script>window.alert('Aishwaryam aayit ang keriko')</script>
    <h1 style="color: rgb(255, 0, 43);">Our Rooms</h1>
    <img src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI=" height="300" width="100%"><hr>
    <button onclick="document.getElementById('myImage').src='https://i.pinimg.com/564x/15/fd/63/15fd63b15e1b4838a871006e4c9a52d2.jpg'">Suite Room</button>
    <a href="tariff.html">Suite Room</a> 
    <img id="myImage" src="https://images.unsplash.com/photo-1611892440504-42a792e24d32?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjByb29tfGVufDB8fDB8fHww" style="width: 700px;">
    <button onclick="document.getElementById('myImage').src='https://images.unsplash.com/photo-1611892440504-42a792e24d32?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjByb29tfGVufDB8fDB8fHww'">Deluxe Room</button>
    <a href="tariff.html">Deluxe Room</a>
</body>
</html>